@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    max-width : 1240px
}

header{
    background:  #3131317c; 
    width: 1900px;
    height: 953px; 
 
}

.shape{
    font-family: 'Miama', sans-serif;
}

.navber{
    width: 80%;
    margin: 0;
}

.ul>li>a{
    text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-top: 2%;
    font-size: 60px;
    font-weight: 600;
    color: orangered;
    margin-left: 5%;
}

li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

li a{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}



.div-1{
    height: 750px;
}

.pic{
    margin-left: 55%;
    position: relative;
    bottom: 0;
    bottom: 63%;
}


.h1-1{
    font-size: 100px;
    color: white;
    margin-left: 5%;
    margin-top: 100px;
    
}

.p-1{
    color: rgba(255, 255, 255, 0.333);
    font-size: 20px;
    margin-left: 110px;
    margin-top: 70px; 
}

.btn-1{
    width: 250px;
    height: 60px;
    margin-left: 5%;
    margin-top: 30px;
    background-color: rgba(255, 68, 0, 0.866);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 20px;
}


.btn-2{
    width: 250px;
    height: 60px;
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 45px;
    font-size: 20px;
    color: white;
    margin-left: 1%;
    background-color: transparent;
}

.box-1{
    padding: 10px 21px 20px 21px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(225, 225, 225, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(25px);
    background-color: rgba(225, 225, 225, 0.1);
    margin-left: 70%;
    width: 250px;
    height: 120px;
    position: absolute;
    bottom: 0;
    bottom: 60%;
    color: white;
}

.box-1 h1{
    margin-top: 7%;
}

.box-2{
    padding: 10px 21px 20px 21px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(225, 225, 225, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(25px);
    background-color: rgba(225, 225, 225, 0.1);
    margin-left: 50%;
    width: 250px;
    height: 120px;
    position: absolute;
    bottom: 0;
    bottom: 30%;
    color: white;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 150px;
    margin-top: 10%;
    background-color: orangered;
}

.box-2 h1{
    margin-left: 30%;
    position: absolute;
    bottom: 0;
    bottom: 50%;
    font-size: 40px;
}

.box-2 h3{
    margin-left: 30%;
    position: absolute;
    bottom: 0;
    bottom: 20%;
    font-size: 20px;

}


.main{
    border: 5px solid black;
    background-color: black;
    width: 1890px;
    height: 3900px;
    margin: 0;
    margin-left: 0;
    gap: none;
}

.h1-3{
    color: white;
    font-size: 70px;
    margin-left: 35%;
    margin-top: 2%;
}

.p-4{
    color: rgba(255, 255, 255, 0.333);
    font-size: 20px;
    margin-left: 25%;
    margin-top: 3%;
}

.team-img-conteiner{
    display: flex;
    width: 700px;
    margin-top: 2%;
}

.img-content{
    display: flex;
    flex-direction: column;
    margin-left: 55%;
}

.habit-2{
    margin-left: 20%;
}

.habit-3{
    margin-left: 20%;
}

.habit-4{
    margin-left: 20%;
}


.img-2{
    height: 180px;
    width: 180px;
    border-radius: 100px;
    margin-left: 13%;
    margin-top: 2%;
    border: 5px solid rgba(255, 255, 255, 0.16);
}

.habits-write-1{
    color: white;
    margin-left: 14%;
}

.habit-p-1{
   color: rgba(255, 255, 255, 0.5);     
   margin-left: 10%;
   margin-top: 5px;
}

.span-1{
    margin-left: 18px;
}


.img-3{
    border-radius: 120px;
    border: 5px solid rgba(255, 255, 255, 0.16);
}

.habits-write-2{
    left: 33%;
    color: white;   
}

.habit-p-2{
    color: rgba(255, 255, 255, 0.5);     
    margin-top: 5px; 
    left: 30%;
}
.span-2{
    margin-left: 18px;
}

.menu{
    display: none;
}

.img-4{
    left: 46%; 
    border-radius: 100px;
    border: 5px solid rgba(255, 255, 255, 0.16);
}

.habits-write-3{
    left: 48%;
    color: white;   
}

.habit-p-3{
    color: rgba(255, 255, 255, 0.5);     
    margin-top: 5px; 
    left: 46%;
}
.span-3{
    margin-left: 18px;
}

.img-5{
    left: 63%;
    border-radius: 100px;
    border: 5px solid rgba(255, 255, 255, 0.16);
}

.habits-write-4{
    left: 63%;
   color: white; 
}

.habit-p-4{
    color: rgba(255, 255, 255, 0.5);     
    margin-top: 5px; 
    left: 62%;
}

.span-4{
    margin-left: 18px;
}

.h3-1{
    color: white;
    margin-left: 12%;
    margin-top: 3%;
    display: flex;
}

.h3-2{
    color: white;
    margin-left: 35%;
    display: flex;
}

.h3-3{
    color: white;
    margin-left: 55%;
    display: flex;
}

.h3-4{
    color: white;
    margin-left: 75%;
    display: flex;
}

.Run{
    width: 1400px;
    height: 480px;
    border-radius: 20px;
    margin-left: 11%;
    margin-top: 5%;
    background-color: rgba(128, 128, 128, 0.266);
}

.h1-4{
    color: white;
    margin-left: 5%;
    font-size: 80px;
    padding-top: 3%;
    width: 500px;
}

.p-5{
    color: rgba(128, 128, 128, 0.646);
    margin-left: 5%;
    margin-top: 3%;
    font-size: 20px;
    width: 600px;
}

.run{
    width: 550px;
    height: 375px;
    border-radius: 20px; 
    margin-left: 55%;
    position: relative;
    bottom: 0;
    bottom: 79%;
}

.btn-3{
    width: 250px;
    height: 60px;
    margin-left: 5%;
    margin-top: 30px;
    background-color: rgba(255, 68, 0, 0.866);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 20px;
}


.h1-5{
    color: white;
    margin-left: 25%;
    font-size: 70px;
    margin-top: 12%;
}

.p-6{
    color: rgba(128, 128, 128, 0.646);
    margin-left: 25%;
    font-size: 20px;
    margin-top: 1%;
}

.BMI{
    height: 550px;
    margin-top: 5%;
    background-color: rgba(128, 128, 128, 0.317);
    width: 1899px;
}

.h1-6{
    color: white;
    margin-left: 10%;
    font-size: 50px;
    padding-top: 2%;
}

.table{
    color: grey;
    width: 400px;
    height: 300px;
    margin-left: 10%;
    margin-top: 2%;
    text-align: center;
    font-size: 20px;
}

.form{
    width: 900px;
    height: 500px;
    margin-left: 40%;
    position: relative;
    bottom: 0;
    bottom: 80%;
}

.h1-7{
    color: white;
    font-size: 40px;
    padding-top: 6%;
}

.p-7{
    color: rgba(255, 255, 255, 0.27);
    margin-top: 2%;
    font-size: 20px;
}

.input-1{
    width: 370px;
    height: 55px;
    border-radius: 5px;
    border: none;
    margin-top: 3%;
    background-color: rgba(128, 128, 128, 0.3);
    font-size: 20px;
    padding-left: 3%;
}

.input-2{
    width: 370px;
    height: 55px;
    border-radius: 5px;
    border: none;
    margin-top: 3%;
    background-color: rgba(128, 128, 128, 0.3);
    margin-left: 3%;
    font-size: 20px;
    padding-left: 3%;
}

.input-3{
    width: 370px;
    height: 55px;
    border-radius: 5px;
    border: none;
    margin-top: 3%;
    background-color: rgba(128, 128, 128, 0.3);
    font-size: 20px;
    padding-left: 3%;
}

.select{
    width: 390px;
    height: 55px;
    border-radius: 5px;
    border: none;
    margin-top: 3%;
    background-color: rgba(128, 128, 128, 0.3);
    font-size: 20px;
    margin-left: 3%;
    color: rgba(128, 128, 128, 0.664);
    padding-left: 3%;
}

.select-1{
    width: 91%;
    height: 55px;
    border-radius: 5px;
    border: none;
    margin-top: 3%;
    background-color: rgba(128, 128, 128, 0.3);
    font-size: 20px;
    color: rgba(128, 128, 128, 0.664);
    padding-left: 3%;
}

.btn-4{
    width: 250px;
    height: 60px;
    margin-top: 30px;
    background-color: rgba(255, 68, 0, 0.866);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 20px;
}


.h1-8{
    color: white;
    font-size: 80px;
    margin-left: 35%;
    margin-top: 4%;
}

.p-8{
    color: rgba(255, 255, 255, 0.338);
    font-size: 20px;
    margin-left: 25%;
    margin-top: 1%;

}

.photo-line{
    width: 1480px;
    height: 880px;
    margin-left: 13%;
    margin-top: 3%;
    background-color: rgba(128, 128, 128, 0.151);
    gap: 30px;
    border-radius: 15px;
}

.img-6{
    width: 450px;
    height: 380px;
    margin-left: 3%;
    margin-top: 2%;
    border-radius: 20px;
}

.img-7{
    width: 450px;
    height: 380px;
    margin-top: 2%;
    border-radius: 20px;
    margin-left: 15px;

}

.img-8{
    width: 450px;
    height: 380px;
    margin-top: 2%;
    border-radius: 20px;
    margin-left: 15px;
}

.img-9{
    width: 450px;
    height: 380px;
    margin-left: 3%;
    border-radius: 20px;
    margin-top: 15px;
}

.img-10{
    width: 450px;
    height: 380px;
    border-radius: 20px;
    margin-left: 15px;
}

.img-11{
    width: 450px;
    height: 380px;
    border-radius: 20px;
    margin-left: 15px;
} 

.photo-write{
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.write-1{
    position: relative;
    bottom: 0;
    bottom: 150%;

}

.exarcise-sektion{
    width: 1400px;
    height: 450px;
    margin-top: 4%;
    margin-left: 15%;
    display: grid;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
}

.exarcise-sektion h1{
    color: white;
    font-size: 50px;
    margin-left: 40%;
}

.exarcise-sektion p{
    color: white;
    margin-right: 5%;
    margin-top: 2px;
    width: 1000px;
    margin-left: 20%;
}

.exarcise-food{
    height: 300px;
    width: 100%;
    display: flex;
}

.exarcise-food img{
    height: 300px;
    width: 440px;
    gap: 3px;
    margin-left: 20px;
    border-radius: 10px;
}

.footer{
    border: 1px solid rgba(25, 23, 23, 0.474);
    width: 1898px;
    height: 640px;
    background-color: rgba(0, 0, 0, 0.687); 
    display: flex;
}

.logo-design{
    width: 500px;
    height: 500px;
    margin-left: 8%;
    margin-top: 5%;
}

.h1-9{
    color: orangered;
    font-size: 80px;
}

.p-9{
    color: rgba(255, 255, 255, 0.25);
    font-size: 25px;
    margin-top: 5%;
    width: 600px;
}

.service{
    width: 500px;
    height: 500px;
    margin-top: 7%;
    margin-left: 20%;
}

.service h1{
    color: white;
}

.li{
    display: grid;
    margin-top: 5%;
    gap: 30px;
}

.a{
    color: rgba(0, 0, 0, 0.374);
    font-size: 30px;
}

.fitness{
    width: 500px;
    height: 500px;
    margin-top: 7%;
    margin-left: 5%;
}

.fitness h1{
    color: white;
}

.p-1{
    margin-left: 5%;
    margin-top: 1%;
}

.border-1{
    border: 5px solid red;
}


    /* start @media query */

@media screen and (max-width: 576px) {

    header{
        height: 1200px;
        width: 523px;
    }


    .all-link{
        display: none;
    }



    .menu{
        display: block;
        color: white;
    }




    .div-1 h1{
        margin-left: 0;
        font-size: 50px;
    }





    .box-1{
        position: absolute;
        width: 250px;
        bottom: 0;
        bottom: -2%;
        margin-left: 50%;
    }




    /* .number{
        width: 100px;
        height: 30px;
        margin-left: 4%;
        border: 3px solid white;
    } */



    .box-2{
        position: absolute;
        width: 250px;
        bottom: 0;
        bottom: -20%;
        margin-left: 3%;
    }

    .box-2 h1{
        padding-left: 9%;
        margin-top: 2%;
    }


    .div-1 p{
        margin-left: 0;
        width: 300px;
    }

    .btn-1{
        margin-left: 0;
        margin-bottom: 6%;
    }

    .logo{
        margin-left: 0;
    }

    .pic{
        position: relative;
        bottom: 0;
        bottom: 2%;
        margin-left: 3%;
    }

    .team-img-conteiner{
        flex-direction: column;
        gap: 5%;
    }

    .main{
        width: 513px;
        height: 7480px;
    }

    .BMI{
        width: 513px;
        height: 1100px;
    }
    .input-1{
        width: 200px;
        height: 55px;    
        margin-left: 2%;
    }

    .input-2{
        width: 200px;
        margin-left: 1%;
    }
    .input-3{  
        height: 55px;   
        margin-left: 2%;         
        width: 200px;
    }

    .select-1{
        margin-left: 2%;
        width: 470px;
    }
    .select{
        width: 230px;
        margin-left: 1%;

    }

    .btn-4{
        margin-left: 2%;
    }

    .h1-8{
        margin-left: 4%;
        font-size: 50px;
    }

    .p-8{
        margin-left: 4%;
        width: 550px;
    }

    .p-5{
        width: 300px;
        margin-left: 10%;
    }

    .photo-line{
        display: grid;
        margin-left: 2%;
        width: 510px;
        height: 2650px;
    }

    .img-6{
        margin-top: 5%;
        margin-left: 7%;
    }

    .img-7{
        margin-left: 7%;
        position: relative;
        top: 0;
        margin-top: 10px;
    }

    .img-8{
        margin-left: 7%;
        position: relative;
        top: 0;
        margin-top: 10px;
    }

    .img-9{
        margin-left: 7%;
        position: relative;
        top: 0;
        margin-top: 10px;
    }











    .img-10{
        margin-left: 7%;
        position: relative;
        top: 0;
        margin-top: 10px;
    }

    .img-11{
        margin-left: 7%;
        position: relative;
        top: 0;
        margin-top: 10px;
    }




    .h1-5{
        margin-left: 5%;
        font-size: 50px;
    }

    .p-6{
        margin-left: 5%;
        width: 500px;
    }

    .h1-6{
        margin-left: 5%;
        font-size: 50px;
    }

    .table{
        margin-left: 5%;
    }

    .form{
        height: 550px;
        margin-top: 185%;
        margin-left: 5%;
    }


    .exarcise-sektion{
        width: 500px;
        margin-left: 2%;
        height: 1150px;
        margin-top: 6%;
    }

    .exarcise-sektion h1{
        margin-left: 0;
        margin-top: 3%;
        margin-left: 2%;
    }

    .exarcise-sektion p{
        margin-left: 0;
        margin-top: 3%;
        margin-left: 2%;
        width: 500px;
        margin-top: -52%;
    }

    .exarcise-food{
        display: grid;
        position: relative;
        bottom: 0;
        bottom: 76%;
        gap: 5%;
    }



    .footer{
        width: 521px;
        flex-direction: column;
        height: 1200px;
        gap: -14rem
        
    }





    .service{
        margin-left: 6%;
        position: relative;
        bottom: 0;
        bottom: 6%;
    }



    .p-9{
        width: 400px;
        margin-left: 2%;
    }



    .Get-Started{
        margin-left: 15%;
        margin-top: 8%;
    }

    .fitness{
        margin-left: 6%;
        position: relative;
        bottom: 0;
        bottom: 10%;
    }

    .logo-design{
        margin-left: 6%;
    }













    .habit-write h1{
        font-size: 35px;
        margin-left: 10%;
    }

    .habit-write p{
        width: 490px;
        margin-left: 6%;
        }

    .img-content{
        margin-left: 7%;
    }

    .img-content h1{
        margin-left: 14%;
    }

    .p-7{
        width: 500px;
    }

    .img-content p{
        width: 250px;
        margin-bottom: 5%;
        margin-left: 14%;
    }

    .habit-2 p{
        width: 250px;
        margin-bottom: 5%;
    }

    .habit-3 p{
        width: 250px;
        margin-bottom: 5%;
    }

    .habit-4 p{
        width: 250px;
        margin-bottom: 5%;
    }

    .Run{
        margin-left: 2%;
        width: 500px;
        height: 700px;
    }

    .run{
        width: 400px;
        position: relative;
        bottom: 0;
        bottom: 1%;
        margin-left: 10%;
    }

    .Run p{
        width: 400px;
    }

    .btn-3{
        width: 390px;
        margin-left: 10%;
    }

    .Run h1{
        font-size: 30px;
        margin-left: 10%;
    }

    .Run button{
        margin-bottom: 5%;
    }
}


